<!DOCTYPE html>
<html>
<head>
	<title>Live County COVID-19 Data</title>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'style.css')}}"></head>
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
	<meta name = 'viewport' content = "width = device-width, initial-scale=1.0">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	{% extends "base.html" %}
	{% block titles %}Stats{% endblock %}
	{% block content %}
	<br>
	<div class = 'content'>
		<div class = 'title'>
		<h3>Current US Infection Rates per County*</h3>
		<p><strong>*Note:</strong> The visualization below uses logarithmic infection rates for this month for coloration.</p>
		</div>
	</div>
	{% include "usplot.html" %}
	<br>
	<hr>
	<h4>Top 10 Counties in Terms of Current Monthly Infection Rate (per 100,000)</h4>
		<ol>
		{% for item in top10 %}
	         <li>{{item}}</li>
		{% endfor %}
		</ol>
	<hr>
	<div class = 'content'>
		<div class = 'title'>
		<h4>Top 10 States with the Highest % At Least Partially Vaccinated</h4>
		</div>
	</div>

	{% include "multivaxxplot.html" %}
	<button onclick="location.href = '/';">Take me back</button>
	<p></p>
	{% endblock %}
</body>
</html>