<!DOCTYPE html>
<html>
<head>
	<title>Live County COVID-19 Data</title>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'style.css')}}"></head>
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
	<meta name = 'viewport' content = "width = device-width, initial-scale=1.0">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	{% extends "base.html" %}
	{% block titles %}Stats{% endblock %}
	{% block content %}
	<br>
	<div class = 'content'>
		<div class = 'title'>
			<h3>Nationwide Statistics</h3>
			<br>
		</div>
	</div>
	{% include "us_vaxxmap.html" %}
	<div class = 'content'>
		<div class = 'title'>
			<p><strong>Note:</strong> Neither Hawaii nor Texas vaccination data is provided on the county level, so no data is available for the states in terms of individual counties. Blank spots represent counties with incomplete information.</p>
		</div>
	</div>
	<div class = 'content'>
		<div class = 'title'>
		{% include "multivaxxplot_top.html" %}
		{% include "multivaxxplot_bottom.html" %}
		</div>
	</div>
	<div class = 'content'>
		<div class = 'title'>
			<button onclick="location.href = '/';">Home</button>
		</div>
	</div>
	<br>
	{% endblock %}
</body>
</html>